.go-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 100px;
    background-color: #ef7204;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
  }
  
  .go-to-top-button.visible {
    opacity: 1;
  }

  
  .go-to-top-button:focus {
    outline: none;
  }